@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  body {
    @apply w-full m-0 grid place-items-center h-full min-h-fit;
    background-image: url("assets/wallpaper.jpg");
    background-size: cover;
  }

  input {
    outline: none;
  }

  button {
    outline: none;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    @apply text-5xl font-bold;
  }
}

@layer components {
  .input {
    @apply shadow-sm overflow-hidden h-input relative text-input transition duration-input hover:shadow-md focus:shadow-md input-ring;
  }

  .input-ring {
    @apply ring-offset-0 ring-black focus-visible:ring-1 has-[:focus-visible]:ring-1 outline-none;
  }

  .text-input::after {
    content: "";
    @apply bg-accent-600 h-[8px] transform left-0 scale-x-0 w-full bottom-[-4px] absolute z-20 transition-all duration-input;
  }

  .text-input:has(input:is(:focus, :not(:placeholder-shown)))::after {
    @apply scale-x-100;
  }

  .card {
    @apply grid place-items-center p-4 gap-4 rounded shadow-lg rounded-lg bg-gray-100 bg-opacity-50 backdrop-blur;
  }
}

@layer utilities {
  .center-absolute {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .no-placeholder {
    @apply placeholder:text-transparent placeholder:select-none;
  }
}
